body {
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
}

@media (max-width: 530px) {
  body {
    margin: 0;
  }  
} 

ol, ul {
  padding-left: 30px;
  list-style-type: none;
}

button {
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  margin: 4px 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.game-options button {
  font-weight: 500;
  font-size: 18px;
}

.game-options ul li {
  display: inline-block;
  margin-right: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-info {
  margin-left: 20px;
}

.game-info .status {
  font-weight: 500;
  font-size: 24px;
}
