  .tic-tac-toe .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .tic-tac-toe .status {
    margin-bottom: 10px;
  }
  
  .tic-tac-toe .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .tic-tac-toe .square.previous-move {
    border: 3px solid #000;
    line-height: 29px;
  }
  
  .tic-tac-toe .square.winner{
    border: 3px solid #aa0000;
    line-height: 29px;
  }

  .tic-tac-toe .square:focus {
    outline: none;
  }
  
  .tic-tac-toe .kbd-navigation .square:focus {
    background: #ddd;
  }